nav{
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
    align-items: center;
}

#backgroundcolor1{
    background-color: #E5E5E5;
}

.text-hyperdelivery{
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    align-items: center;
    text-align: center;
    color: white;
}

.text-motoristas{
    font-family: 'Bungee';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    align-items: center;
    text-align: center;
    color: white;
}

.text-entrar-registrar{
    font-family: 'Antic';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 68px;
    align-items: center;
    text-align: center;
    color: white;
}

#option-entrar{
    background-color: #D74B1F;
    box-shadow: black 0px 4px 4px;
    border-radius: 25px;
    position: absolute;
    width: 144px;
    height: 63px;
    left: 45px;
    top: 582px;
}

#option-registrar{
    background-color: #D74B1F;
    box-shadow: black 0px 4px 4px;
    border-radius: 25px;
    position: absolute;
    width: 144px;
    height: 63px;
    left: 229px;
    top: 582px;
}

#section0, #section2, #section3, #section4, #section5, #section6, #section7,#section8,#section9,#section10,#section11{
    display: none;  
}

.text-hyperdeliverytop{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 125px;
    align-items: center;
    text-align: center;
    color:white;
}

.text-hyperdeliverytop2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 125px;
    align-items: center;
    text-align: center;
    color:white;
}

#fondo-hyperdelivery{
    position: absolute;
    width: 414px;
    height: 138px;
    left: 0px;
    top: 0px;
}

#option-menu{
    background-color: #D74B1F;
    box-shadow: black 0px 4px 4px;
    border-radius: 25px;
    position: absolute;
    width: 144px;
    height: 63px;
    left: 30px;
    top: 180px;
}

#option-ingresar{
    background-color: #D74B1F;
    box-shadow: black 0px 4px 4px;
    border-radius: 25px;
    position: absolute;
    width: auto;
    height: auto;
    left: 135px;
    top: 750px;
}

#option-ingresar1{
    background-color: #D74B1F;
    box-shadow: black 0px 4px 4px;
    border-radius: 25px;
    width: auto;
    height: auto;
    
}

.text-nombre{
    font-family: 'Antic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.text-correo{
    font-family: 'Antic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.text-telefono{
    font-family: 'Antic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.text-contraseña{
    font-family: 'Antic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.text-bienvenido{
    font-family: 'Antic';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}

.text-ordenesdisponibles{
    font-family: 'Antic';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}

#fondo-registro{
    background-color: #D74B1F;
    box-shadow: black 0px 4px 4px;
    border-radius: 25px;
    position: absolute;
    width: 350px;
    height: 480px;
    left: 31px;
    top: 270px;
}

#fondo-hyperdelivery2{
    background-color: #FF6543;
    position: absolute;
    width: 414px;
    height: 70px;
    left: 0px;
    top: 0px;
}

#option-ordenes{
    background-color: #FF6543;
    box-shadow: black 0px 4px 4px;
    border-radius: 25px;
    position: absolute;
    width: 350px;
    height: 85px;
    left: 31px;
    top: 270px;
}





#option-ordenes2{
    background-color: #FF6543;
    box-shadow: black 0px 4px 4px;
    border-radius: 25px;
    position: absolute;
    width: 350px;
    height: 85px;
    left: 31px;
    top: 370px;
}

#option-ordenes3{
    background-color: #FF6543;
    box-shadow: black 0px 4px 4px;
    border-radius: 25px;
    position: absolute;
    width: 350px;
    height: 85px;
    left: 31px;
    top: 470px;
}

#fondo-orden{
    background-color: #FF6543;
    box-shadow: black 0px 4px 4px;
    border-radius: 25px;
    position: absolute;
    width: 350px;
    height: auto;
    left: 31px;
    top: 110px;
}

#fondo-orden1{
    background-color: #FF6543;
    box-shadow: rgb(196, 194, 194) 0px 4px 4px;
    border-radius: 25px;
   padding: 30px;
    width: 350px;
    height: auto;
    left: 31px;
    top: 110px;
}



#fondo-estados-orden{
    background-color: #FF6543;
    
    border-radius: 25px;
    
    
    height: 200px;
    left: 31px;
    top: 110px;
}
